XTerm.vt100.faceName: Cascadia Code:size=18:antialias=false

XTerm.vt100.background: rgb:28/2a/36
XTerm.vt100.foreground: rgb:f8/f8/f2

XTerm.vt100.color0: rgb:21/22/2c
XTerm.vt100.color1: rgb:ff/55/55
XTerm.vt100.color2: rgb:50/fa/7b
XTerm.vt100.color3: rgb:f1/fa/8c
XTerm.vt100.color4: rgb:bd/93/f9
XTerm.vt100.color5: rgb:ff/79/c6
XTerm.vt100.color6: rgb:8b/e9/fd
XTerm.vt100.color7: rgb:f8/f8/f2
XTerm.vt100.color8: rgb:62/72/a4
XTerm.vt100.color9: rgb:ff/6e/6e
XTerm.vt100.color10: rgb:69/ff/94
XTerm.vt100.color11: rgb:ff/ff/a5
XTerm.vt100.color12: rgb:d6/ac/ff
XTerm.vt100.color13: rgb:ff/92/df
XTerm.vt100.color14: rgb:a4/ff/ff
XTerm.vt100.color15: rgb:ff/ff/ff
