XTerm.vt100.faceName: CaskaydiaCove Nerd Font Mono:size=18

XTerm.vt100.background: rgb:272A34
XTerm.vt100.foreground: rgb:FFFFFF

XTerm.vt100.color0: rgb:1F2229
XTerm.vt100.color1: rgb:D41919
XTerm.vt100.color2: rgb:5EBDAB
XTerm.vt100.color3: rgb:FEA44C
XTerm.vt100.color4: rgb:367bf0
XTerm.vt100.color5: rgb:9755b3
XTerm.vt100.color6: rgb:49AEE6
XTerm.vt100.color7: rgb:E6E6E6
XTerm.vt100.color8: rgb:198388
XTerm.vt100.color9: rgb:EC0101
XTerm.vt100.color10: rgb:47D4B9
XTerm.vt100.color11: rgb:FF8A18
XTerm.vt100.color12: rgb:277FFF
XTerm.vt100.color13: rgb:962ac3
XTerm.vt100.color14: rgb:05A1F7
XTerm.vt100.color15: rgb:FFFFFF

XTerm.vt100.metaSendsEscape: true
